* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Manrope'; */
}
 .container{
        width: 80%;
       /* border: 1px solid rebeccapurple; */
       margin: 0 auto;
   }
   .main-header{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 50px 5px;
   }
   .right-section{
       display: flex;
       align-items: center;
   }
   .right-section ul{
       list-style: none;
       display: flex;
       font-size: 20px;
       font-weight: 800;
   }
   .road-assistance{
       display: flex;
       padding-left: 20px;
   }
   .right-section ul li{
       margin-right: 20px;
   }
   .right-section ul li a{
       text-decoration: none;
       color: #000;
   }
   .right-section .navigation{
       border-right: 2px solid #ccc;
   }
   .road-assistance .icon{
       margin-right: 10px;
   }
   .second-section{
       display: flex
   }
   .inner-second-1 {
       width: 50%;
   }
   .inner-second-2 {
       width: 50%;
       background-image: url(../img/Header.png);
       background-position: center;
       background-size: cover;
   }
   .inner-writeup{
       padding: 20px 0;
       text-align: left;
   }
   .inner-writeup h2 {
       height: 252px;
       font-size: 64px;
       display: block;
   }
   .inner-writeup a {
       text-decoration: none;
   }
   .open{
       padding-left: 10px;
   }
   .open p{
       padding-bottom: 5px;
       color: #ccc;
   }
   .button{
       text-align: center;
       border-radius: 5px;
       background-color: orangered;
       border: none;
       color: white;
       padding: 10px;
       font-size: 16px;
       width: 30%;
       display: block;
   }
   .button:hover {
       background-color: blue;
   }
   .time-logo{
       margin-top: 30px;
       display: flex;
       align-items: center;
   }
   .time-logo .img-box{
       width: 5%;
       display: flex;
       align-items: center;
       justify-content: centerm;
   }
   #quote-section{
       background-color: lightgray;
   }
   .section{
       width: 80%;
       padding: 50px 5px;
       margin: 0 auto;
   }
   .section-1{
       width: 50%;
   }
   .section-2{
       width: 50%;
   }
   .flex{
       display: flex;
       /* justify-content: space-between; */
       /* align-items: center; */
   }
   #quote-section ul{
       list-style: none;
   }
   #quote-section ul li{
       margin-bottom: 20px;
   }
   
   #quote-section .section-1 h2{
       margin-bottom: 20px;
       font-size:58px;
   }
   #quote-section .section-1 .img-box{
       width: 5%;
       margin-right: 10px;
   }
   #quote-section .section-1 .img-box img{
       width: 100%;
   }
   #quote-section .section-1 .text-box{
       width: 50%;
   }
   #quote-section .section-1 .text-box h5{
       font-size: 24px;
       margin-bottom: 5px;
   }
   #quote-section .section-1 .text-box p{
       font-size: 16px;
   }
   #quote-section .section-2 h3{
       font-size: 48px;
       margin-bottom: 30px;
   }
   #quote-section .section-2 input{
       width: 100%;
       padding: 10px;
       margin :2px 0;
       height: 55px;
   }
   #quote-section .section-2 .button{
       margin-top: 20px;
       border-radius: 10px;
   }
   
   #quote-section .text-box a {
       text-decoration: none;
       color: #000;
       font-weight: 800;
   }
   
   
   .page-3{
       width: 80%;
       padding: 50px 5px;
       margin: 0 auto;
   }
   .follow{
       width: 50%;
   }
   .quote{
       width: 50%;
   }
   #We-follow-section .page-3 .follow h2{
       font-size: 58px;
   }
   #We-follow-section .page-3 .follow p{
       font-size: 16px;
       margin: 20px 0;
   }
   #We-follow-section .page-3 .follow .button a{
       text-decoration: none;
       color: #fff;
   }
   #We-follow-section .page-3 .quote ul{
       list-style: none;
   }
   #We-follow-section .page-3 .quote .num-box {
       width: 8%;
       margin-right: 10px;
   }
   #We-follow-section .page-3 .quote .num-box img{
       width: 100%;
   }
   #We-follow-section .page-3 .quote .num-text{
       width: 100%;
   }
  
   #We-follow-section .page-3 .quote .num-text h5{
       margin-bottom: 10px;
       font-size: 32px;
   }
   #We-follow-section .page-3 .quote .num-text p{
       font-size: 18px;
   }
   
   .vertical-line{
       border-left: 2px dotted #FF6433;
       height: 50px;
       margin-left: 5%;
       margin-top: 10px;
       margin-bottom: 20px;
       margin-left: 20px;
   }
   #We-offer-section{
       background: #ccc;
   }
   .page-4{
    width: 80%;
    padding: 50px 5px;
    margin: 0 auto;
}
#We-offer-section .page-4 .offer{
    text-align: center;
    margin-bottom: 30px;
}
#We-offer-section .page-4 .offer p{
    margin-bottom: 10px;
    font-size: 24px;
}
#We-offer-section .page-4 .offer h2{
    font-size: 58px;
}
#We-offer-section .page-4 .icon-box{
    /* border: 1px solid; */
    background: #fff;
}
#We-offer-section .offer-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}
#We-offer-section .page-4 .icon-box{
    padding: 40px;
    margin: 0 5px;
    font-size: 24px;
}
#We-offer-section .page-4 .content{
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 180px;
    width: 180px;
    text-align: center;
}
#We-offer-section .page-4 .icon-box-orange{
    padding: 40px;
    margin:5px;
   background: #FF6433;
   font-size: 24px;
}
#We-offer-section .page-4 .offer-flex :hover {
    background: #FF6433;
    border: none;
}
.link{
    padding-top: 10px;
    text-align: end;
}
.link a{
    text-decoration: none;
    color: #000;
}
.link :hover{
    background:#FF6433
}
#page-5 .images{
    display: flex;
}
#page-5 .car-img{
    background-image: url(../img/car.png);
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 50%;
}
#page-5 .engine-img{
    background-image: url(../img/engine.png);
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 50%;
}
#page-5 .container{
    background:#FF6433;
    width: 50%;
    height: 50vh;
}

#page-5 .container{
    position: absolute;
    width: 40%;
    height: 50vh;
    top: 156.3em;
    left: 15em;
}
#page-5 .container .touch{
    text-align: left;
    margin: 80px 50px 50px;
    font-size: 30px;
    color: #fff;
    align-items: center;
    /* width: 50%; */
}
#page-5 .container .button {
    margin-left: 50px;
    background: #000;
}
#page-5 .container .button a{
text-decoration: none;
color: #fff;
}
#page-6{
    width: 100%;
    background: #F2F2F2;
    padding: 50px 50px;
    margin: 0 auto;
}
#page-6 .experience{
    /* border: 1px solid black; */
    background: #F2F2F2;  
    display: flex; 
    justify-content: space-between; 
    width: 80%;
    margin: 0 auto;
} 

#page-6 .num{
   align-items: center;
}
#page-6 .num h2{
    font-size: 58px;
    color: #661CE7;
}
#page-6 .num p{
    font-size: 24px;
    color: #000;
}
#Brands{
    width: 100%;
    margin: 0 auto;
}
#Brands .Brand-text h3{
    font-size: 48px;
    text-align: center;
    padding-top: 50px;
}
#Brands .Brand-flex{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
